<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LogIn</title>
    <th:block th:include="parts/header :: head"/>
</head>
<body>
<h1 th:text="${operationStatus}"/>

<div  id="accordion" th:with="handlerId=${handlerId}">
    <div class="form-row">
        <div class="form-group col-md-6">
            <form method="get" th:action="@{'/handler/' + ${handlerId}}" class="form-inline">
                <input type="text" name="filter" class="form-control" placeholder="Find by name">
                <button type="submit" class="btn btn-primary mr-2">Search</button>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="addFunction">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseAddFunction"  aria-expanded="false" aria-controls="addFunction" th:text = "'Add new function'">
                </button>
            </h5>
        </div>

        <div id="collapseAddFunction" class="collapse" aria-labelledby="addFunction" data-parent="#accordion">
            <div class="card-body">
                <form  th:action="@{'/addFunction/' + ${handlerId}}" method="post">
                    <p><label for="functionName">Name</label></p>
                    <p><input id="functionName" type="text" name="functionName"></p><br>

                    <p><label for="functionCodeAdd">Code</label></p>
                    <p><textarea id="functionCodeAdd" name="functionCode"></textarea></p>

                    <p><input type="submit" value="Save"></p>
                </form>
            </div>
        </div>
    </div>

    <section th:each="function : ${functionList}" >
        <div class="card">
                    <div class="card-header" th:id="${function.name}">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" th:data-target="'#collapse' + ${function.name}"  aria-expanded="false" th:aria-controls="${function.name}" th:text = "${function.name}">
                            </button>
                        </h5>
                    </div>

            <div th:id="'collapse' + ${function.name}" class="collapse" th:aria-labelledby="${function.name}" data-parent="#accordion">

                <div class="card-body">

                    <form  th:action="@{'/updateFunction/' + ${handlerId}}" method="post">
                        <p><label for="functionCode">Code</label></p>
                        <input type="hidden" name="functionId" th:value="${function.id}">
                        <p><textarea id="functionCode" name="functionCode" th:text="${function.code}"></textarea></p>
                        <p><input type="submit" value="Save"></p>

                    </form>

                </div>

            </div>

        </div>
    </section>
</div>

</body>
</html>