<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LogIn</title>
    <th:block th:include="parts/header :: head"/>
</head>
<body>
<h1 th:text="${operationStatus}"/>
<div  id="accordion">
    <div class="form-row">
        <div class="form-group col-md-6">
            <form method="get" th:action="@{/handler}" class="form-inline">
                <input type="text" name="filter" class="form-control" placeholder="Find by name">
                <button type="submit" class="btn btn-primary mr-2">Search</button>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="addFunction">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseAddHandler"  aria-expanded="false" aria-controls="addHandler" th:text = "'Add new handler'">
                </button>
            </h5>
        </div>

        <div id="collapseAddHandler" class="collapse" aria-labelledby="addHandler" data-parent="#accordion">
            <div class="card-body">
                <form  th:action="@{/addHandler}" method="post">
                    <p><label for="handlerName">Name</label></p>
                    <p><input id="handlerName" type="text" name="handlerName"></p><br>

                    <p><label for="handlerVersion">Version</label></p>
                    <p><input id="handlerVersion" type="text" name="handlerVersion"></p>

                    <p><input type="submit" value="Save"></p>
                </form>
            </div>
        </div>
    </div>

    <section th:each="handlerChain : ${handlerMap}" th:with="chainName=${handlerChain.key}">
        <div class="card">
                    <div class="card-header" th:id="${chainName}">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" th:data-target="'#collapse' + ${chainName}"  aria-expanded="false" th:aria-controls="${chainName}" th:text = "${chainName}">
                            </button>
                        </h5>
                    </div>

            <div th:id="'collapse' + ${chainName}" class="collapse" th:aria-labelledby="${chainName}" data-parent="#accordion">

                <div class="card-body">
                    <section th:each="handler : ${handlerChain.value}">
                    <a th:href = "'/handler/' + ${handler.id}" th:text="${handler.version}"/>
                    </section>
                </div>
            </div>

        </div>
    </section>
</div>

</body>
</html>