<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LogIn</title>
    <th:block th:include="parts/header :: head"/>
</head>
<body>
<form th:action="@{/registration}" method="post" >
    <div>
        <label for="username">User name:</label>
        <input type="text" id="username" name="username" placeholder="Username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password">
    </div>
    <div>
        <label for="password2">Password2</label>
        <input type="password" id="password2" name="password2" placeholder="Password2">
    </div>
    <input type="submit" value="Submit">
</form>
</body>
</html>